@import "tailwindcss";

@font-face {
  font-family: GGSansRegular;
  src: url("../src/assets/fonts/GGSansRegular.ttf");
}

@font-face {
  font-family: Montserrat;
  src: url("../src/assets/fonts/Montserrat.ttf");
}

@font-face {
  font-family: RobotoMono;
  src: url("../src/assets/fonts/RobotoMono.ttf");
}

* {
  font-family: GGSansRegular, sans-serif;
}
